body {
    font-family: Arial, sans-sefif;
    background-image: url('../images/background-2424150_1920.jpg');
   text-align: center;
   font-size: 16px;

}

.navbar{
   background-color: #889999;
   width: 640px;
   margin: 0 auto;
   height: 35px;
   line-height: 35px;

}

h1 {
   font-size: 23px;
   color: #fff;
   text-align: center;

}

/*캔버스를 감춤 */

#canvas {
   display: none;

}

label {
   margin-right: 5px;

}

label:hover{
   cursor: pointer;

}

form{
   width: 640px;
   margin-bottom: 20px;

}

.top-container{
   width: 640px;
   margin: 0 auto;
   text-align: center;
   padding: 0;
   background-color: #fff;
   border-radius: 6px;

}

.bottom-container{
   margin-top: 20px;
   width: 640px;
   margin: 0 auto;
   text-align: center;
   padding: 0;

}

#photos{
   width: 640px;
   margin: 0 auto;

}

.btn{
   width: 150px;
   height: 40px;
   border-radius: 8px;
   border: 1px solid #778899;
   background-color: #337799;
   color:rgb(104, 80, 80);
   margin-bottom: 20px;

}

.btn:hover{
   background-color: #990000;

}

fieldset{
   border: 1px solid #999999;
   border-radius: 7px;
   background-color: #fff;

}